.heroes__container {
    background-image: url('https://www.xtrafondos.com/wallpapers/vertical/la-tierra-y-la-luna-en-el-espacio-6019.jpg');
    background-size: cover;
    display: grid;
    grid-template-rows: 150px 50px auto;
    color: #EEEEEE;
}

.heroes__container-titulo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.heroes__titulo {
    color: #EEEEEE;
}

.heroes__container-filtros {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 5px #222831 solid;
    border-bottom: 5px #222831 solid;
    background-color: #0B0D12;
}

.heroes__container-filtros-ru {
    display: grid;
    grid-template-columns: 20% 80%;
}

.heroes__container-lista {
    display: grid;
    grid-template-columns: 70% 30%;
}

.heroes__container-lista-heroes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    margin: 5%;
}

.heroes__lista-img {
    align-self: center;
    justify-self: center;
}

.heroes__lista-img-estilo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: #0B0D12 solid 5px;
}

.heroes__lista-img-estilo:hover {
    border: #00ADB5 solid 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #0B0D12;
}

.heroes__container-lista-perfil {
    display: grid;
}

.heroes__container-lista-perfil-carta {
    height: 700px;
    width: 90%;
    border: 5px #222831 solid;
    display: grid;
    grid-template-rows: 40% 10% 20% 25% 5%;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 5px 5px #0B0D12;
    background-color: #0B0D12;
}

.heroes__lista-perfil-carta-habilidades {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-top: 5px #222831 solid;
}

.heroes__perfil-carta-habilidades-basicas-img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: auto;
    gap: 5px;
}

.carta-habilidades {
    display: grid;
    grid-template-rows: 25% 75%;
}

.heroes__lista-centrado {
    align-self: center;
    justify-self: center;
}

.heroes__lista-habilidades-img-estilo {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    align-self: center;
    justify-self: center;
}

.heroes__container-filtros {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0px 0px 5px 5px #0B0D12;
}

.heroes__container-filtros-rol-opciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-auto-rows: auto;
}

.heroes__container-filtros-rol-opciones-op1 {
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

.heroes__container-filtros-rol-opciones-op1:hover {
    color: #00ADB5;
    cursor: pointer;
}

.heroes__perfil-img {
    height: 100%;
    width: 100%;
}

.heroes__lista-perfil-carta-titulo {
    font-size: 40px;
    font-weight: bold;
}

.heroes__lista-perfil-carta-descripcion {
    font-size: 20px;
    font-weight: bold;
}

.heroes__lista-perfil-carta-btn {
    height: 100%;
    width: 100%;
    background-color: #00ADB5;
    color: #EEEEEE;
}