.home__container {
    background-color: rgb(132, 237, 100);
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 350px 350px 350px 350px;
}

.home__container-titulo {
    background-color: darkblue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.home__titulo {
    color: #eeeeee;
}

.home__container-guia {
    background-color: indigo;
    font-weight: bold;
    text-align: center;
    display: grid;
    width: 100vw;
    grid-template-rows: 25% 50% 25%;
}

.home__guia {
    font-size: 50px;
    color: #eeeeee;
    background-color: indigo;
    align-self: center;
    justify-self: center;
}

.home__guia-descripcion {
    color: #eeeeee;
    background-color: indigo;
    align-self: center;
    justify-self: center;
}

.home__guia-boton {
    color: #eeeeee;
    background-color: indigo;
    align-self: center;
    align-content: center;
    height: 60%;
}

.boton {
    color: #eeeeee;
    background-color: darkslategray;
    width: 15%;
    height: 100%;
    align-self: center;
    align-content: center;
    text-align: center;
}

.home__container-heroes {
    background-color: crimson;
    font-weight: bold;
    text-align: center;
    display: grid;
    width: 100vw;
    grid-template-rows: 25% 50% 25%;
}

.home__heroes {
    font-size: 50px;
    color: #eeeeee;
    background-color: crimson;
    align-self: center;
    justify-self: center;
}

.home__heroes-descripcion {
    color: #eeeeee;
    background-color: crimson;
    align-self: center;
    justify-self: center;
}

.home__heroes-boton {
    color: #eeeeee;
    background-color: crimson;
    align-self: center;
    align-content: center;
    height: 60%;
}

.home__container-campo {
    background-color: brown;
    font-weight: bold;
    text-align: center;
    display: grid;
    width: 100vw;
    grid-template-rows: 25% 50% 25%;
}

.home__campo {
    font-size: 50px;
    color: #eeeeee;
    background-color: brown;
    align-self: center;
    justify-self: center;
}

.home__campo-descripcion {
    color: #eeeeee;
    background-color: brown;
    align-self: center;
    justify-self: center;
}

.home__campo-boton {
    color: #eeeeee;
    background-color: brown;
    align-self: center;
    align-content: center;
    height: 60%;
}

.home__container-streamer {
    background-color: forestgreen;
    font-weight: bold;
    text-align: center;
    display: grid;
    width: 100vw;
    grid-template-rows: 25% 50% 25%;
}

.home__streamer {
    font-size: 50px;
    color: #eeeeee;
    background-color: forestgreen;
    align-self: center;
    justify-self: center;
}

.home__streamer-descripcion {
    color: #eeeeee;
    background-color: forestgreen;
    align-self: center;
    justify-self: center;
}

.home__streamer-boton {
    color: #eeeeee;
    background-color: forestgreen;
    align-self: center;
    align-content: center;
    height: 60%;
}